
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Quem é Caroline?</h1>
        <p class="lead text-muted">Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    </div>
</section>

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="lead">
                Pode ser que sim, pode ser que não, só depende do ponto de vista.
            </p>

            <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmander Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmeleon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charizard Lorem ipsum dolor sit amet, consectetur adipiscing elit. Squirtle Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <p>Alakazam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Machop Lorem ipsum dolor sit amet, consectetur adipiscing elit. Machoke Lorem ipsum dolor sit amet, consectetur adipiscing elit. Machamp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bellsprout Lorem ipsum dolor sit amet, consectetur adipiscing elit. Weepinbell Lorem ipsum dolor sit amet, consectetur adipiscing elit. Victreebel Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tentacool Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tentacruel Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </div>
        <div class="col-md-4">
            <img src="https://vignette.wikia.nocookie.net/videojuego/images/5/5f/Stitch.png/revision/latest/scale-to-width-down/220" alt="me" />
        </div>
    </div>
</main>