<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Ola! Eu sou a Caroline.</h1>
        <p class="lead text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, nam, natus dignissimos dolores voluptates expedita facilis debitis blanditiis, perferendis sunt quidem asperiores saepe. Pariatur, obcaecati praesentium provident hic culpa alias! </p>
    </div>
</section>

<main class="container">

<p id="notice">raposa</p>


</main>